@model IEnumerable<BUEMS.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.IdNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Podobi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainSalaryGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFreedomFighter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAddiitonalDuties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStudentAdviser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChairman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProvost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAssistantProctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasOwnTransportationMethod)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SerialNo })
                @Html.ActionLink("Details", "Details", new { id = item.SerialNo })
                @Html.ActionLink("Delete", "Delete", new { id = item.SerialNo })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podobi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainSalaryGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFreedomFighter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAddiitonalDuties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStudentAdviser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChairman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProvost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAssistantProctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasOwnTransportationMethod)
            </td>
        </tr>
    }

</table>
