@model BUEMS.Models.Tax

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyTaxMale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyTaxMale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyTaxFemale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyTaxFemale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyTaxFreedomFighter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyTaxFreedomFighter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SerialNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
