@model IEnumerable<BUEMS.Models.Tax>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Scale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyTaxMale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyTaxFemale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyTaxFreedomFighter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Scale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyTaxMale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyTaxFemale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyTaxFreedomFighter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerialNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerialNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerialNo })
        </td>
    </tr>
}

</table>
